<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78f375">  <td>18/05/30 09:41:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeEach()[pri:0, instance:com.ActiTime.www.Login@42e26948]">&gt;&gt;beforeEach</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/05/30 09:41:26</td>   <td>8927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginActiTime()[pri:0, instance:com.ActiTime.www.Login@42e26948]">loginActiTime</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/05/30 09:41:29</td>   <td>12128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterEach()[pri:0, instance:com.ActiTime.www.Login@42e26948]">&lt;&lt;afterEach</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/05/30 09:41:30</td>   <td>12799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeEach()[pri:0, instance:com.ActiTime.www.AppTest@57baeedf]">&gt;&gt;beforeEach</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/05/30 09:41:32</td>   <td>14842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.maximizeActiTimeApp()[pri:0, instance:com.ActiTime.www.AppTest@57baeedf]">maximizeActiTimeApp</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/05/30 09:41:38</td>   <td>20447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterEach()[pri:0, instance:com.ActiTime.www.AppTest@57baeedf]">&lt;&lt;afterEach</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
</table>
