<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>AppTest.maximizeActiTimeApp()[pri:2, instance:com.ActiTime.www.AppTest@4667ae56]<br/>Login.loginActiTime()[pri:1, instance:com.ActiTime.www.Login@1a968a59]<br/></td></tr>
<tr><td>Smoke</td><td>Login.loginActiTime()[pri:1, instance:com.ActiTime.www.Login@1a968a59]<br/></td></tr>
</table>
