<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Actitime</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>18/05/30 10:37:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterEach()[pri:0, instance:com.ActiTime.www.Login@1a968a59]">&lt;&lt;afterEach</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/05/30 10:37:25</td>   <td>8484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterEach()[pri:0, instance:com.ActiTime.www.AppTest@4667ae56]">&lt;&lt;afterEach</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/05/30 10:37:07</td>   <td>-9134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeEach()[pri:0, instance:com.ActiTime.www.Login@1a968a59]">&gt;&gt;beforeEach</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/05/30 10:37:17</td>   <td>670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeEach()[pri:0, instance:com.ActiTime.www.AppTest@4667ae56]">&gt;&gt;beforeEach</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/05/30 10:37:10</td>   <td>-6106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginActiTime()[pri:1, instance:com.ActiTime.www.Login@1a968a59]">loginActiTime</td> 
  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/05/30 10:37:19</td>   <td>2767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.maximizeActiTimeApp()[pri:2, instance:com.ActiTime.www.AppTest@4667ae56]">maximizeActiTimeApp</td> 
  <td>main@540642172</td>   <td></td> </tr>
</table>
