<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>Login.loginActiTime()[pri:0, instance:com.ActiTime.www.Login@5622fdf]<br/></td></tr>
<tr><td>Smoke</td><td>Login.loginActiTime()[pri:0, instance:com.ActiTime.www.Login@5622fdf]<br/></td></tr>
</table>
