<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efea79">  <td>18/06/05 22:51:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterEach()[pri:0, instance:com.ActiTime.www.Login@5622fdf]">&lt;&lt;afterEach</td> 
<td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/06/05 22:51:34</td>   <td>-21089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeEach()[pri:0, instance:com.ActiTime.www.Login@5622fdf]">&gt;&gt;beforeEach</td> 
<td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>18/06/05 22:51:38</td>   <td>-17670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginActiTime()[pri:0, instance:com.ActiTime.www.Login@5622fdf]">loginActiTime</td> 
  <td>main@2114650936</td>   <td></td> </tr>
</table>
