<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7a4e4">  <td>18/05/28 13:49:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeEach()[pri:0, instance:com.ActiTime.www.Login@1794d431]">&gt;&gt;beforeEach</td> 
<td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/05/28 13:49:52</td>   <td>2965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginActiTime()[pri:0, instance:com.ActiTime.www.Login@1794d431]">loginActiTime</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/05/28 13:49:55</td>   <td>5676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterEach()[pri:0, instance:com.ActiTime.www.Login@1794d431]">&lt;&lt;afterEach</td> 
<td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
</table>
