<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Actitime</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a48474">  <td>18/06/03 12:10:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeEach()[pri:0, instance:com.ActiTime.www.Login@224edc67]">&gt;&gt;beforeEach</td> 
<td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>18/06/03 12:10:55</td>   <td>3388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginActiTime()[pri:0, instance:com.ActiTime.www.Login@224edc67]">loginActiTime</td> 
  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>18/06/03 12:11:00</td>   <td>9024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterEach()[pri:0, instance:com.ActiTime.www.Login@224edc67]">&lt;&lt;afterEach</td> 
<td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>18/06/03 12:11:01</td>   <td>9748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeEach()[pri:0, instance:com.ActiTime.www.AppTest@4678c730]">&gt;&gt;beforeEach</td> 
<td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/06/03 12:11:03</td>   <td>11830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.openActiTimeApp()[pri:0, instance:com.ActiTime.www.AppTest@4678c730]">openActiTimeApp</td> 
  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>18/06/03 12:11:08</td>   <td>16500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterEach()[pri:0, instance:com.ActiTime.www.AppTest@4678c730]">&lt;&lt;afterEach</td> 
<td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>18/06/03 12:11:08</td>   <td>17174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeEach()[pri:0, instance:com.ActiTime.www.AppTest@4678c730]">&gt;&gt;beforeEach</td> 
<td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/06/03 12:11:11</td>   <td>19204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.maximizeActiTimeApp()[pri:0, instance:com.ActiTime.www.AppTest@4678c730]">maximizeActiTimeApp</td> 
  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>18/06/03 12:11:16</td>   <td>25029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterEach()[pri:0, instance:com.ActiTime.www.AppTest@4678c730]">&lt;&lt;afterEach</td> 
<td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
</table>
